body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(66, 60, 60);
}

header .title{
	width: 100%;
	height: 100px;
	background-color: white;

	display: flex;
	align-items: center;
}
header .title h1{
	margin: 0;
	font-size: 40px;
	color: #29B1DD;
	margin-left: 40px;
}
header .select{
	background-color: #29B1DD;
	width: 100%;
	height: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
header .select h3{
	text-transform: uppercase;
	color: white;
}
header .select select{

}

main{
	background-color: #DDDDDD;
	display: flex;
	flex-wrap: wrap;
}
main > div{
	width: 15%;
	margin: 2.5%;
	height: 100px;
	background-color: #F5F5F5;
	border-radius: 10px;
	box-shadow: 2px 2px grey;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main > div i{
	font-size: 40px;
}
main > div div{
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;

}